In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/PerDucer/synthetic-original_D2_25_200.csv',nrows=110000)

In [ ]:
# prompt: basically from the first 110000 rows i want only first 100000 uniques users along with their rows



# Assuming 'user_id' is the column representing users
unique_users_df = df.drop_duplicates(subset=['UserID'], keep='first').head(100000)

unique_users_df

,UserID,Docs,Action,Summaries
0,U335175,"['N41340', 'N55476', 'N103556', 'N27570', 'N83...","['click', 'click', 'click', 'click', 'click', ...",2
1,U146053,"['N95202', 'N84319', 'N92854', 'N43563', 'S3',...","['click', 'click', 'skip', 'gen_summ', 'summ_g...",7
2,U158889,"['N84182', 'N72110', 'N122127', 'N24095', 'N96...","['skip', 'skip', 'skip', 'skip', 'skip', 'skip...",5
3,U22232,"['N25386', 'N90820', 'N35729', 'N32113', 'N444...","['click', 'skip', 'click', 'click', 'skip', 'c...",5
4,U32515,"['N55509', 'N111634', 'N15992', 'N78883', 'N27...","['click', 'skip', 'click', 'click', 'click', '...",9
...,...,...,...,...
102587,U170879,"['N92191', 'N84047', 'N70110', 'N61275', 'N876...","['skip', 'click', 'skip', 'skip', 'click', 'cl...",5
102588,U131556,"['N48119', 'N100224', 'N27499', 'N119043', 'N3...","['skip', 'click', 'click', 'click', 'click', '...",7
102589,U346966,"['N62034', 'N81058', 'N100133', 'N72931', 'N55...","['click', 'skip', 'click', 'click', 'click', '...",4
102590,U7351,"['N58081', 'N123008', 'N45822', 'N120496', 'N3...","['click', 'click', 'click', 'click', 'click', ...",3
102591,U370518,"['N103166', 'N102243', 'N13169', 'N14376', 'N4...","['skip', 'skip', 'skip', 'skip', 'skip', 'skip...",6

array(['U335175', 'U146053', 'U158889', ..., 'U346966', 'U7351',
       'U370518'], dtype=object)

In [ ]:
df

,UserID,Docs,Action,Summaries
0,U335175,"['N41340', 'N55476', 'N103556', 'N27570', 'N83...","['click', 'click', 'click', 'click', 'click', ...",2
1,U146053,"['N95202', 'N84319', 'N92854', 'N43563', 'S3',...","['click', 'click', 'skip', 'gen_summ', 'summ_g...",7
2,U158889,"['N84182', 'N72110', 'N122127', 'N24095', 'N96...","['skip', 'skip', 'skip', 'skip', 'skip', 'skip...",5
3,U22232,"['N25386', 'N90820', 'N35729', 'N32113', 'N444...","['click', 'skip', 'click', 'click', 'skip', 'c...",5
4,U32515,"['N55509', 'N111634', 'N15992', 'N78883', 'N27...","['click', 'skip', 'click', 'click', 'click', '...",9
...,...,...,...,...
109995,U401265,"['N30215', 'N47934', 'N91277', 'N76397', 'N822...","['skip', 'skip', 'skip', 'skip', 'click', 'ski...",1
109996,U342493,"['N115027', 'N80716', 'N67708', 'N79391', 'N87...","['skip', 'skip', 'skip', 'click', 'skip', 'ski...",9
109997,U435970,"['N81814', 'N81110', 'N103491', 'N98288', 'N48...","['click', 'click', 'click', 'click', 'skip', '...",3
109998,U321050,"['N71254', 'N26275', 'N36843', 'N58299', 'N118...","['skip', 'click', 'click', 'click', 'skip', 's...",1
109999,U228264,"['N76930', 'N37516', 'N17355', 'N83107', 'N944...","['click', 'click', 'click', 'click', 'click', ...",5

In [ ]:
unique_users = df['UserID'].unique()

# Print the number of unique users and the unique user IDs
print("Number of unique users:", len(unique_users))
print(unique_users)

Number of unique users: 106995
['U335175' 'U146053' 'U158889' ... 'U342493' 'U435970' 'U321050']

In [ ]:
unique_users = unique_users_df['UserID'].unique()

# Print the number of unique users and the unique user IDs
print("Number of unique users:", len(unique_users))
print(unique_users)

Number of unique users: 100000
['U335175' 'U146053' 'U158889' ... 'U346966' 'U7351' 'U370518']

In [ ]:
unique_users_df

,UserID,Docs,Action,Summaries
0,U335175,"['N41340', 'N55476', 'N103556', 'N27570', 'N83...","['click', 'click', 'click', 'click', 'click', ...",2
1,U146053,"['N95202', 'N84319', 'N92854', 'N43563', 'S3',...","['click', 'click', 'skip', 'gen_summ', 'summ_g...",7
2,U158889,"['N84182', 'N72110', 'N122127', 'N24095', 'N96...","['skip', 'skip', 'skip', 'skip', 'skip', 'skip...",5
3,U22232,"['N25386', 'N90820', 'N35729', 'N32113', 'N444...","['click', 'skip', 'click', 'click', 'skip', 'c...",5
4,U32515,"['N55509', 'N111634', 'N15992', 'N78883', 'N27...","['click', 'skip', 'click', 'click', 'click', '...",9
...,...,...,...,...
102587,U170879,"['N92191', 'N84047', 'N70110', 'N61275', 'N876...","['skip', 'click', 'skip', 'skip', 'click', 'cl...",5
102588,U131556,"['N48119', 'N100224', 'N27499', 'N119043', 'N3...","['skip', 'click', 'click', 'click', 'click', '...",7
102589,U346966,"['N62034', 'N81058', 'N100133', 'N72931', 'N55...","['click', 'skip', 'click', 'click', 'click', '...",4
102590,U7351,"['N58081', 'N123008', 'N45822', 'N120496', 'N3...","['click', 'click', 'click', 'click', 'click', ...",3
102591,U370518,"['N103166', 'N102243', 'N13169', 'N14376', 'N4...","['skip', 'skip', 'skip', 'skip', 'skip', 'skip...",6

In [ ]:
unique_users_df.to_csv('synthetic_original_final.csv', index=False)

In [ ]:
# prompt: can you select all the users whose id is repeating

import pandas as pd
import numpy as np

# Group by UserID and count the occurrences
user_counts = df.groupby('UserID')['UserID'].count()

# Filter for users with more than one occurrence (repeating IDs)
repeating_users = user_counts[user_counts > 1]

# Print the repeating users
print("Repeating users:\n", repeating_users)

Repeating users:
 UserID
U100694    2
U100749    2
U100809    2
U100906    2
U101107    2
          ..
U99302     2
U99481     2
U99545     2
U99645     2
U99982     2
Name: UserID, Length: 2410, dtype: int64

In [ ]:
s = df[df['UserID']=='U100694']
s

,UserID,Docs,Action,Summaries
30409,U100694,"['N116932', 'N78421', 'N37762', 'S59282', 'N10...","['click', 'click', 'gen_summ', 'summ_gen', 'cl...",7
73597,U100694,"['N116932', 'N78421', 'N37762', 'S142815', 'N1...","['click', 'click', 'gen_summ', 'summ_gen', 'cl...",8

In [ ]:
# prompt: parse through Docs column for the first user

first_user_docs = df.loc[0, 'Docs']  # Assuming 'Docs' is the column name

# If 'Docs' contains a string representing a list, you might need to parse it
# For example, if it's a string like "[1, 2, 3]", you could do:
# import ast
# first_user_docs = ast.literal_eval(first_user_docs)

first_user_docs

"['N41340', 'N55476', 'N103556', 'N27570', 'N83288', 'N100653', 'N105490', 'N88971', 'N48119', 'N92507', 'N57305', 'N92467', 'N54036', 'N35759', 'N48791', 'N16584', 'N51701', 'N20284', 'N56727', 'N75813', 'N44985', 'N116560', 'N107372', 'N76586', 'N22545', 'N73265', 'N85178', 'N70300', 'N66205', 'N68668', 'N113976', 'N61932', 'N72480', 'N24324', 'S1', 'N52756', 'N80095', 'N76018', 'N77616', 'N58377', 'N21631', 'N20196', 'N100054', 'N29975', 'N22738', 'N93272', 'S2', 'N122297', 'N90902', 'N103034', 'N32119', 'N39558', 'N46163', 'N41315', 'N111419', 'N34593', 'N70428', 'N103307', 'N98303', 'N91129', 'N95328', 'N32103', 'N111369', 'N34903', 'N87250', 'N96810', 'N14269', 'N95711', 'N12827', 'N12771', 'N38608', 'N47610', 'N15778', 'N47217', 'N44681', 'N68466', 'N23969', 'N81398', 'N96955', 'N50291']"

In [ ]:
type(first_user_docs)

str

In [ ]:
# prompt: convert the first_user_docs to list

import pandas as pd
import numpy as np
df = pd.read_csv('/content/synthetic-original_D2_25_200.csv')
df

first_user_docs = df.loc[0, 'Docs']  # Assuming 'Docs' is the column name

# If 'Docs' contains a string representing a list, you might need to parse it
# For example, if it's a string like "[1, 2, 3]", you could do:
import ast
first_user_docs = ast.literal_eval(first_user_docs)

first_user_docs

type(first_user_docs)

# Convert the first_user_docs to a list if it's not already
if not isinstance(first_user_docs, list):
  first_user_docs = [first_user_docs]

first_user_docs

['N41340',
 'N55476',
 'N103556',
 'N27570',
 'N83288',
 'N100653',
 'N105490',
 'N88971',
 'N48119',
 'N92507',
 'N57305',
 'N92467',
 'N54036',
 'N35759',
 'N48791',
 'N16584',
 'N51701',
 'N20284',
 'N56727',
 'N75813',
 'N44985',
 'N116560',
 'N107372',
 'N76586',
 'N22545',
 'N73265',
 'N85178',
 'N70300',
 'N66205',
 'N68668',
 'N113976',
 'N61932',
 'N72480',
 'N24324',
 'S1',
 'N52756',
 'N80095',
 'N76018',
 'N77616',
 'N58377',
 'N21631',
 'N20196',
 'N100054',
 'N29975',
 'N22738',
 'N93272',
 'S2',
 'N122297',
 'N90902',
 'N103034',
 'N32119',
 'N39558',
 'N46163',
 'N41315',
 'N111419',
 'N34593',
 'N70428',
 'N103307',
 'N98303',
 'N91129',
 'N95328',
 'N32103',
 'N111369',
 'N34903',
 'N87250',
 'N96810',
 'N14269',
 'N95711',
 'N12827',
 'N12771',
 'N38608',
 'N47610',
 'N15778',
 'N47217',
 'N44681',
 'N68466',
 'N23969',
 'N81398',
 'N96955',
 'N50291']

In [ ]:
len(first_user_docs)

80

In [ ]:
first_user_docs = df.loc[0, 'Action']  # Assuming 'Docs' is the column name


import ast
first_user_docs = ast.literal_eval(first_user_docs)

first_user_docs

type(first_user_docs)

# Convert the first_user_docs to a list if it's not already
if not isinstance(first_user_docs, list):
  first_user_docs = [first_user_docs]

first_user_docs

['click',
 'click',
 'click',
 'click',
 'click',
 'click',
 'click',
 'click',
 'skip',
 'skip',
 'click',
 'skip',
 'click',
 'skip',
 'click',
 'skip',
 'click',
 'click',
 'skip',
 'click',
 'skip',
 'skip',
 'click',
 'click',
 'skip',
 'skip',
 'skip',
 'click',
 'skip',
 'skip',
 'skip',
 'skip',
 'skip',
 'gen_summ',
 'summ_gen',
 'click',
 'skip',
 'skip',
 'click',
 'click',
 'click',
 'skip',
 'skip',
 'skip',
 'click',
 'gen_summ',
 'summ_gen',
 'click',
 'skip',
 'click',
 'click',
 'click',
 'skip',
 'skip',
 'skip',
 'skip',
 'click',
 'click',
 'click',
 'skip',
 'click',
 'click',
 'skip',
 'click',
 'skip',
 'skip',
 'skip',
 'click',
 'click',
 'skip',
 'click',
 'skip',
 'click',
 'skip',
 'skip',
 'skip',
 'click',
 'skip',
 'click',
 'click']

In [ ]:
len(first_user_docs)

80

In [ ]:
# prompt: so i want you to convert the Docs and Action columns to list and find the length of Docs and Action for each UserID

import pandas as pd
import ast

df = pd.read_csv('/content/synthetic-original_D2_25_200.csv')

def get_list_length(value):
  try:
    value_list = ast.literal_eval(value)
    if not isinstance(value_list, list):
      value_list = [value_list]
    return len(value_list)
  except (ValueError, SyntaxError):
    return 0  # Or handle the error as needed

df['Docs_Length'] = df['Docs'].apply(get_list_length)
df['Action_Length'] = df['Action'].apply(get_list_length)

print(df[['UserID', 'Docs_Length', 'Action_Length']])

     UserID  Docs_Length  Action_Length
0   U335175           80             80
1   U146053          200            200
2   U158889          181            181
3    U22232          110            110
4    U32515          174            174
..      ...          ...            ...
95  U350237          189            189
96  U214322           30             30
97  U290629          372            372
98  U314130          179            179
99  U245004           84             84

[100 rows x 3 columns]

In [1]:
import pandas as pd
import ast
from tqdm import tqdm

# Read the CSV file containing user behavior data
df = pd.read_csv(r"C:\Users\admin\Desktop\ImPerSum\Datasets\train.csv")

# Initialize a list to store the edges and an edge counter for unique EdgeIDs
edges = []
edge_counter = 1

# Iterate over each user row in the DataFrame
for _, row in tqdm(df.iterrows(),total=len(df),desc='behavior extraction is being done.....'):
    user = row['UserID']

    # Convert the string representation of lists to actual lists using ast.literal_eval
    docs = ast.literal_eval(row['Docs'])
    actions = ast.literal_eval(row['Action'])

    # Check that there is at least one interaction
    if len(docs) > 0 and len(actions) > 0:
        # Create the first edge: head is the user id, relation is first action, tail is first doc id
        edge_id = f"B{edge_counter}"
        edges.append({
            "EdgeID": edge_id,
            "Head": user,
            "Relation": actions[0],
            "Tail": docs[0],
            "User": user
        })
        edge_counter += 1

        # For subsequent interactions, the head is the previous doc (tail)
        for i in range(1, len(docs)):
            edge_id = f"B{edge_counter}"
            edges.append({
                "EdgeID": edge_id,
                "Head": docs[i - 1],
                "Relation": actions[i],
                "Tail": docs[i],
                "User": user
            })
            edge_counter += 1

# Create a lookup table DataFrame from the edges list
lookup_df = pd.DataFrame(edges)

lookup_df

behavior extraction is being done.....: 100%|██████████| 135000/135000 [01:07<00:00, 2005.60it/s]

             EdgeID     Head Relation     Tail     User
0                B1   U10000     skip  N110699   U10000
1                B2  N110699     skip  N104733   U10000
2                B3  N104733     skip   N80645   U10000
3                B4   N80645     skip   N76869   U10000
4                B5   N76869     skip  N119531   U10000
...             ...      ...      ...      ...      ...
18413172  B18413173  N107780    click   N97051  U249644
18413173  B18413174   N97051    click   N81002  U249644
18413174  B18413175   N81002    click   N11725  U249644
18413175  B18413176   N11725    click   N89229  U249644
18413176  B18413177   N89229     skip   N67207  U249644

[18413177 rows x 5 columns]

In [2]:
lookup_df.head(20)

   EdgeID     Head Relation     Tail    User  dwell
0      B1   U10000     skip  N110699  U10000    NaN
1      B2  N110699     skip  N104733  U10000    NaN
2      B3  N104733     skip   N80645  U10000    NaN
3      B4   N80645     skip   N76869  U10000    NaN
4      B5   N76869     skip  N119531  U10000    NaN
5      B6  N119531     skip   N77960  U10000    NaN
6      B7   N77960     skip   N12931  U10000    NaN
7      B8   N12931    click   N21031  U10000  673.0
8      B9   N21031     skip   N97643  U10000    NaN
9     B10   N97643     skip   N87665  U10000    NaN
10    B11   N87665     skip   N28850  U10000    NaN
11    B12   N28850     skip   N55139  U10000    NaN
12    B13   N55139     skip   N40378  U10000    NaN
13    B14   N40378     skip   N26604  U10000    NaN
14    B15   N26604     skip  N117735  U10000    NaN
15    B16  N117735     skip   N99430  U10000    NaN
16    B17   N99430     skip   N63252  U10000    NaN
17    B18   N63252     skip   N36149  U10000    NaN
18    B19   N36149     skip   N95171  U10000    NaN
19    B20   N95171     skip   N60476  U10000    NaN

In [4]:
lookup_df['Relation'].unique()

array(['skip', 'click', 'gen_summ', 'summ_gen'], dtype=object)

In [5]:
lookup_df['Relation'].value_counts()

Relation
click       12014849
skip         5413170
gen_summ      495514
summ_gen      489644
Name: count, dtype: int64

In [6]:
lookup_df.to_csv(r"C:\Users\admin\Desktop\ImPerSum\Datasets\Behavior_Vocab.csv")

In [8]:
results=[]
for user, user_df in tqdm(lookup_df.groupby('User'), desc='Processing Users'):
    user_df = user_df.reset_index(drop=True)
    
    # Track EdgeIDs for behaviors
    edge_ids = user_df['EdgeID'].tolist()
    relations = user_df['Relation'].tolist()
    
    bhist = []
    instance_counter = 1
    
    for idx, relation in enumerate(relations):
        if relation == 'summ_gen':
            bpos = edge_ids[idx]
            bhist_entry = edge_ids[:idx]  # all EdgeIDs before current one
            results.append({
                'UserID': f"{user}_{instance_counter}",
                'Bhist': bhist_entry,
                'Bpos': bpos
            })
            instance_counter += 1

Processing Users: 100%|██████████| 135000/135000 [00:14<00:00, 9299.26it/s]

In [9]:
train_df = pd.DataFrame(results)
train_df

,UserID,Bhist,Bpos
0,U10_1,"[B5649676, B5649677, B5649678, B5649679, B5649...",B5649687
1,U10_2,"[B5649676, B5649677, B5649678, B5649679, B5649...",B5649723
2,U10000_1,"[B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11,...",B84
3,U10000_2,"[B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11,...",B133
4,U100001_1,"[B5649741, B5649742, B5649743, B5649744, B5649...",B5649750
...,...,...,...
489639,U99992_1,"[B10810640, B10810641, B10810642, B10810643, B...",B10810685
489640,U99992_2,"[B10810640, B10810641, B10810642, B10810643, B...",B10810687
489641,U99992_3,"[B10810640, B10810641, B10810642, B10810643, B...",B10810701
489642,U99992_4,"[B10810640, B10810641, B10810642, B10810643, B...",B10810716
489643,U99992_5,"[B10810640, B10810641, B10810642, B10810643, B...",B10810775

In [11]:
train_df['Bpos'] = train_df['Bpos'].astype(str)
lookup_df['EdgeID'] = lookup_df['EdgeID'].astype(str)

# Filter lookup_df where EdgeID is in train_df['Bpos']
matching_rows = lookup_df[lookup_df['EdgeID'].isin(train_df['Bpos'])]

# Display the result
print(f"Total matching rows: {len(matching_rows)}")
matching_rows.head(20)

Total matching rows: 489644

    EdgeID     Head  Relation  Tail     User  dwell
83     B84   N44834  summ_gen   S-1   U10000    NaN
132   B133  N110366  summ_gen   S-2   U10000    NaN
151   B152   N26146  summ_gen   S-3  U100006    NaN
167   B168   N45118  summ_gen   S-4  U100006    NaN
229   B230   N73214  summ_gen   S-5  U100006    NaN
398   B399   N66402  summ_gen   S-6  U100025    NaN
449   B450   N57729  summ_gen   S-7  U100025    NaN
494   B495  N104663  summ_gen   S-8  U100034    NaN
582   B583   N58853  summ_gen   S-9  U100034    NaN
589   B590   N21530  summ_gen  S-10  U100034    NaN
624   B625   N72016  summ_gen  S-11  U100045    NaN
659   B660  N112765  summ_gen  S-12  U100045    NaN
731   B732  N104663  summ_gen  S-13  U100045    NaN
761   B762   N95950  summ_gen  S-14  U100051    NaN
771   B772   N98516  summ_gen  S-15  U100051    NaN
793   B794   N82209  summ_gen  S-16  U100051    NaN
842   B843   N43664  summ_gen  S-17  U100051    NaN
849   B850   N53204  summ_gen  S-18  U100051    NaN
874   B875   N12272  summ_gen  S-19  U100051    NaN
883   B884   N23711  summ_gen  S-20  U100051    NaN

In [12]:
train_df

,UserID,Bhist,Bpos
0,U10_1,"[B5649676, B5649677, B5649678, B5649679, B5649...",B5649687
1,U10_2,"[B5649676, B5649677, B5649678, B5649679, B5649...",B5649723
2,U10000_1,"[B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11,...",B84
3,U10000_2,"[B1, B2, B3, B4, B5, B6, B7, B8, B9, B10, B11,...",B133
4,U100001_1,"[B5649741, B5649742, B5649743, B5649744, B5649...",B5649750
...,...,...,...
489639,U99992_1,"[B10810640, B10810641, B10810642, B10810643, B...",B10810685
489640,U99992_2,"[B10810640, B10810641, B10810642, B10810643, B...",B10810687
489641,U99992_3,"[B10810640, B10810641, B10810642, B10810643, B...",B10810701
489642,U99992_4,"[B10810640, B10810641, B10810642, B10810643, B...",B10810716
489643,U99992_5,"[B10810640, B10810641, B10810642, B10810643, B...",B10810775

In [13]:
train_df.to_csv(r"C:\Users\admin\Desktop\ImPerSum\Datasets\train_impersum.csv")